{% extends 'index.html' %}
{% load static %}
{% block main-content %}
<form class="mt-8 space-y-3" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="grid grid-cols-1 space-y-2">
    <div class="flex items-center justify-center w-full">
      <label
        class="flex flex-col rounded-lg border-4 border-dashed w-full h-94 p-10 group text-center gap-y-3 cursor-pointer">
        <div class="h-full w-full flex flex-col items-center justify-center">
          <div class="flex flex-auto">
            <img class="h-54" src="{% static 'img/waiting.gif' %}" alt="freepik image" />
          </div>
          <p class="pointer-none text-lg font-bold">
            Waiting to upload image
            <span class="loading loading-dots loading-xs"></span>
          </p>
        </div>
        {{form}}
      </label>
    </div>
  </div>
  <label class="fieldset-label italic text-sm text-warning">Max size 2MB, with required format *.jpg, *.png,
    *.jpeg</label>
  <button type="submit" class="btn btn-primary w-full">Upload</button>
</form>
{% endblock %}