<footer class="footer sm:footer-horizontal bg-base-300 items-center p-4">
    <aside class="grid-flow-col items-center">
        <i class="fa fa-bolt hover:animate-ping text-primary"></i>
        <p>Copyright Mohit Prajapat © {%now "Y"%} - All right reserved</p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a href="https://github.com/mohitprajapat2001/snapshare" target="_blank">
            <i class="fab fa-github text-xl hover:text-neutral"></i>
        </a>
        <a href="mailto:mohitdevelopment2001@gmail.com">
            <i class="far fa-envelope text-xl hover:text-accent"></i>
        </a>
        <a href="https://youtube.com/@itsmohitcodes" target="_blank">
            <i class="fab fa-youtube text-xl hover:text-error"></i>
        </a>
    </nav>
</footer>