<optgroup label="Light Themes">
    <option class="capitalize" value="light">light</option>
    <option class="capitalize" value="cupcake">cupcake</option>
    <option class="capitalize" value="cmyk">cmyk</option>
    <option class="capitalize" value="lofi">lofi</option>
    <option class="capitalize" value="garden">garden</option>
    <option class="capitalize" value="winter">winter</option>
</optgroup>
<optgroup label="Dark Themes">
    <option class="capitalize" value="dark">dark</option>
    <option class="capitalize" value="black">black</option>
    <option class="capitalize" value="retro">retro</option>
    <option class="capitalize" value="night">night</option>
    <option class="capitalize" value="forest">forest</option>
</optgroup>