<div id="features">
    <div class="max-w-4xl mx-auto px-5 mt-16">
        <div class="text-center">
            <h2 class="font-semibold text-3xl">Features you'll love</h2>
            <p class="max-w-md mx-auto mt-2 text-gray-500">
                Snapshare is a platform that allows you to share your photos with the
                world.
            </p>
        </div>
        <div class="grid md:grid-cols-2 gap-10 mt-10">
            <div class="flex gap-4 items-start">
                <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
                    <i class="fas fa-money-bill-wave"></i>
                </span>
                <div>
                    <h3 class="font-semibold text-xl">Free</h3>
                    <p class="mt-1 text-gray-500">
                        You can use Snapshare for free. No hidden fees, no subscriptions.
                        Just upload and share your photos.
                    </p>
                </div>
            </div>

            <div class="flex gap-4 items-start">
                <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
                    <i class="fas fa-share-nodes"></i>
                </span>
                <div>
                    <h3 class="font-semibold text-xl">Easily Sharable</h3>
                    <p class="mt-1 text-gray-500">
                        You can easily share your photos with your friends and family.
                        Just copy the link and share it with them.
                    </p>
                </div>
            </div>

            <div class="flex gap-4 items-start">
                <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
                    <i class="fas fa-code"></i>
                </span>
                <div>
                    <h3 class="font-semibold text-xl">Dev & QnA Interactive
                    </h3>
                    <p class="mt-1 text-gray-500">
                        Allow Developer and QnA Interaction with screenshot of bugs.
                    </p>
                </div>
            </div>

            <div class="flex gap-4 items-start">
                <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
                    <i class="fas fa-timeline"></i>
                </span>
                <div>
                    <h3 class="font-semibold text-xl">Quick History</h3>
                    <p class="mt-1 text-gray-500">
                        Now find your uploaded snaps in single place.
                    </p>
                </div>
            </div>

            <div class="flex gap-4 items-start">
                <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
                    <i class="fas fa-terminal"></i>
                </span>
                <div>
                    <h3 class="font-semibold text-xl">
                        Development
                    </h3>
                    <p class="mt-1 text-gray-500">
                        We are working on adding more features to Snapshare.
                        Stay tuned for more updates.
                    </p>
                </div>
            </div>

            <div class="flex gap-4 items-start">
                <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
                    <i class="fas fa-globe"></i>
                </span>
                <div>
                    <h3 class="font-semibold text-xl">Open Source</h3>
                    <p class="mt-1 text-gray-500">
                        Snapshare is an open source project. You can contribute to
                        the project on GitHub.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>