{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}SnapShare{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/daisy5.css' %}">
    <link rel="stylesheet" href="{% static 'css/themes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    {% block extracss %}{% endblock %}
</head>
<script src="{%  static 'js/index.js'%}"></script>
<script src="{%  static 'js/jquery.js'%}"></script>
<script src="{%  static 'js/tailwind.js'%}"></script>

<body data-theme="dark">
    {% block content %}{% endblock %}
</body>
{% block extrajs %}{% endblock %}

</html>