{% extends 'base.html' %}
{% load static%}

{% block title %}SnapShare{% endblock %}


{% block content %}
<div class="">
  {% include 'includes/navbar.html' %}
  <div class="flex flex-col gap-3">
    <div class="block md:hidden bg-base-100 px-5 py-3">Banner</div>
    <div class="grid grid-cols-9 items-center bg-base-100 content-center">
      <div class="col-span-2 hidden md:block relative h-100">
        <img src="{% static 'img/banner.gif' %}" class="p-5 fixed-top" alt="" />
      </div>
      <div class="col-span-9 md:col-span-5 overflow-y-auto h-screen" style="scrollbar-width: none">
        {% block main-content %}
        {% endblock %}
      </div>
      <div class="col-span-2 hidden md:block relative h-100">
        <img src="{% static 'img/banner.gif' %}" class="p-5" alt="" />
      </div>
    </div>
  </div>
  {% include 'includes/footer.html'%}
</div>
{% endblock %}